$primary-teal-color: #09C6AB;

$login-screen-teal-color: #068888;

$text-teal-color: #02556D;

$dark-teal-color: #013240;

$medium-yellow-color: #F7E74A;

$light-yellow-color: #eff1a1;

$light-gray-color: #EAE8E8;
