addContact {
  flex: 1;
  background-color: #09C6AB;
  align-items: center;
  padding-top: 75px;
}

firstNameInput, lastNameInput {
  background-color: #EAE8E8;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 320px;
}

inputFields {
  color: #02556D;
  height: 40px;
  text-align: center;
}

datePicker {
  border-radius: 10px;
  background-color: #EAE8E8;
  width: 320px;
}

avatar {
margin-bottom: 10px;
}
