addContact {
  align-items: center;
  background-color: $primary-teal-color;
  flex: 1;
  padding-top: 75px;
}

firstNameInput, lastNameInput {
  @include inputField;
  margin-bottom: 10px;
}

inputFields {
  color: $text-teal-color;
  height: 40px;
  text-align: center;
}

datePicker {
  @include inputField;
}

avatar {
  @include largeAvatar;
  margin-bottom: 10px;
}

centerAvatar {
  align-items: center;
  flex: 1;
}

scrollView {
  flex: 1;
}
