button {
  background-color: #F7E74A;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  width: 80px;
  shadow-color: #000000;
  shadow-opacity: 0.3;
  shadow-radius: 3;
  shadow-offset {
   height: 0;
   width: 0;
 }
}

disabledButton {
  background-color: #eff1a1;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  width: 80px;
  shadow-color: #000000;
  shadow-opacity: 0.3;
  shadow-radius: 3;
  shadow-offset {
   height: 0;
   width: 0;
 }
}

buttonText {
  color: #02556D;
  font-size: 18px;
  text-align: center;
}

buttonRow {
  flex-direction: row;
  justify-content: center;
}
