button {
  background-color: $medium-yellow-color;
  @include buttonFormat;
}

disabledButton {
  background-color: $light-yellow-color;
  @include buttonFormat;
}

buttonText {
  color: $text-teal-color;
  font-size: 18px;
  text-align: center;
}

buttonRow {
  flex-direction: row;
  justify-content: center;
}
