contactList {
  align-items: center;
  background-color: #09C6AB;
  flex: 1;
  justify-content: center;
  padding-bottom: 60px;
}

searchBar {
  background-color: #EAE8E8;
  border-radius: 10px;
  margin: 80px 0 10px 0;
  width: 300px;
}

searchInput {
  color: #02556D;
  height: 40px;
  text-align: center;
}
