contactList {
  align-items: center;
  background-color: #09C6AB;
  flex: 1;
  justify-content: center;
  padding-bottom: 60px;
}

searchBar {
  background-color: #EAE8E8;
  margin: 80px 0 10px 0;
  width: 320px;
}

searchInput {
  border: 1px solid black;
  height: 40px;
  text-align: center;
}
