contactCard {
  background-color: #09C6AB;
  border-bottom-width: 0.5;
  border-color: lighten(#013240, 15%);
  flex: 1;
  padding: 10px 0 10px 10px;
  width: 320px;
}

nameText {
  color: #013240;
  font-size: 16px;
  font-weight: bold;
  padding:0 0 5px 20px;
}

birthdayText {
  color: #013240;
}

row {
  flex-direction: row;
}

card {
  flex: 1;
  justify-content: center;
  margin-left: 20px;
}

listAvatar {
  border-radius: 37.5px;
  height: 75px;
  width: 75px;
}
