contactList {
  align-items: center;
  background-color: $primary-teal-color;
  flex: 1;
  justify-content: center;
  padding-bottom: 60px;
}

searchBar {
  @include inputField;
  margin: 80px 0 10px 0;
}

searchInput {
  color: $text-teal-color;
  height: 40px;
  text-align: center;
}
