individualContact {
  align-items: center;
  background-color: #09C6AB;
  flex: 1;
}

notesField {
  background-color: #EAE8E8;
  border-radius: 5px;
  margin-top: 20px;
  width: 200px;
}

notesInput {
  color: #02556D;
  font-size: 18px;
  padding: 2px 10px 10px 10px;
}

individualAvatar {
  border-radius: 62.5px;
  height: 125px;
  margin: 120px 0 20px 0;
  width: 125px;
}
