individualContact {
  align-items: center;
  background-color: $primary-teal-color;
  flex: 1;
}

notesField {
  width: 250px;
}

individualAvatar {
  @include largeAvatar;
  margin: 75px 0 3px 0;
}

centerInfo {
  align-items: center;
  justify-content: center;
}
