individualContact {
  align-items: center;
  background-color: #09C6AB;
  flex: 1;
}

notesField {
  width: 250px;
}

individualAvatar {
  border-radius: 62.5px;
  height: 125px;
  margin: 75px 0 3px 0;
  width: 125px;
}

centerInfo {
  align-items: center;
  justify-content: center;
}
