loginScreen {
  align-items: center;
  background-color: $login-screen-teal-color;
  flex: 1;
  padding-top: 90px;
}

loginButton {
  background-color: $primary-teal-color;
  margin-top: 30px;
  padding: 10px;
  width: 250px;
}

loginButtonText {
  color: $text-teal-color;
  font-size: 16px;
  text-align: center;
}

appTitle {
  color: $medium-yellow-color;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
