loginScreen {
  align-items: center;
  background-color: #068888;
  flex: 1;
  padding-top: 90px;
}

loginButton {
  background-color: #09C6AB;
  margin-top: 30px;
  padding: 10px;
  width: 250px;
}

loginButtonText {
  color: #02556D;
  font-size: 16px;
  text-align: center;
}

appTitle {
  color: #F7E74A;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
