container {
  flex: 1;
}

loginScreen {
  align-items: center;
  background-color: #068888;
  flex: 1;
  padding-top: 90px;
}

loginButton {
  background-color: #09C6AB;
  margin-top: 30px;
  padding: 10px;
  width: 250px;
}

loginButtonText {
  color: #02556D;
  font-size: 16px;
  text-align: center;
}

appTitle {
  color: #F7E74A;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

contactList {
  background-color: #09C6AB;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

searchBar {
  background-color: #EAE8E8;
  margin-top: 80px;
  width: 320px;
}

searchInput {
  border: 1px solid black;
  height: 40px;
  text-align: center;
}

firstNameInput {
  background-color: #EAE8E8;
  margin-bottom: 10px;
  width: 320px;
}

lastNameInput {
  background-color: #EAE8E8;
  width: 320px;
}

inputFields {
  border: 1px solid black;
  height: 40px;
  padding-left: 10px;
}

button {
  background-color: #F7E74A;
  border-width: 1;
  margin: 20;
  padding: 5;
  width: 80px;
}

buttonText {
  font-size: 16px;
  text-align: center;
}

border {
  border: 1px solid black;
}
